<!DOCTYPE html>
<html lang="en">
 
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
  <title>Claim Management System</title>
</head>
 
<body>
  <!--Nav bar-->

  <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
    
    <div class="collapse navbar-collapse" id="navbarText" >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item  active">
          <a class="nav1 " href="/memberModule">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav1" href="#">About</a>
        </li>
        <li class="nav-item ">
          <a class="nav1" href="/contactModule">Contact Us</a>
        </li>
        <li class="nav-item ">
          <a class="nav1" href="#" (click)="logout()">Logout</a>
        </li>
      
      </ul>  
    </div>

    <a class="navbar-brand justify-content-center" href="#">Claims Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <!-- Nav Bar end -->
  <!-- Body -->
  <div class="row">
    <div class="col-sm-3" >
      
      
    </div>
    <div class="col-sm-6 justify-content-center" >
        <div class="card ">
            <div class="card-header text-center">
              <b>Hello,User</b>
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Please find your details below</h5>
        <table class="table table-hover">
            <thead>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td>Premium : </td>
                <td>{{res.premium}}</td>
                
              </tr>
              <tr>
                
                <td>Paid Date : </td>
                <td>{{res.paidDate}}</td>
                
              </tr>
              <tr>
               
                <td>Due Date : </td>
                <td>{{res.dueDate}}</td>
                
              </tr>
              <tr>
                
                <td>Late Payement : </td>
                <td>{{res.latePayment}}</td>
              </tr>
              <tr>
                
                <td>Late Payement Charges : </td>
                <td>{{res.latePaymentCharges}}</td>
              </tr>
             
            </tbody>
          </table>
      </div>
      </div>
    </div>
    <div class="col-sm-3" >
      
      
    </div>
</div>
  
  
  <!-- Body end -->

  <!-- Fotter -->
  <div class="bg-blue py-4 footer ">
    <div class="row "> <small class="fottext">Copyright &copy; 2021. All rights reserved.</small>
        <div class="social-contact ml-4 ml-sm-auto">
          <span class="fa fa-facebook mr-4 text-sm"></span>
          <span class="fa fa-google-plus mr-4 text-sm"></span>
          <span class="fa fa-linkedin mr-4 text-sm"></span> 
          <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> 
      </div>
    </div>
</div>
  <!--footer-->
</body>

</html>