<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" />
</head>

<body>
    <!--Nav bar-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-blue">
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav1" href="/memberModule">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav1" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav1" href="/contactModule">Contact Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav1" href="#" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>

        <a class="navbar-brand justify-content-center" href="#">Claims Management System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
    <div class="row">
        <div class="col-sm-3">

        </div>
        <div class="col-sm-6">
            
            <div class="card text-center ">
                <div class="card-header">
                    <b>Hello, {{key1}} </b>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Please provide the details in order to proceed</h5>
                    <form  #submitform="ngForm" (ngSubmit)="submitForm()" class="form-horizontal">
                        <div class="form-group row justify-content-center py-2 ">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Policy ID</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="policyId" placeholder="Policy ID" [(ngModel)]="submit.policyId">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center ">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Claim ID</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="claimId" placeholder="Claim ID" [(ngModel)]="submit.claimId">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center py-2 ">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Member ID</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="memberId" placeholder="Member ID" [(ngModel)]="submit.memberId">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center ">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Provider ID</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="providerId" placeholder="Provider ID" [(ngModel)]="submit.providerId">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center py-2">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Benefit ID</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="benefitId" placeholder="Benefit ID" [(ngModel)]="submit.benefitId">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center ">
                            <label for="inputPassword" class="col-sm-3 col-form-label">Total Amount</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="totalBilledAmount" placeholder="Total Amount" [(ngModel)]="submit.totalBilledAmount">
                            </div>
                        </div>
                        <div class="form-group row justify-content-center py-2">
                            <label for="inputPassword" class="col-sm-3 col-form-label ">Claimed Amount</label>
                            <div class="col-sm-5">
                                <input type="number" class="form-control" name="totalClaimedAmount" placeholder="Claimed Amount" [(ngModel)]="submit.totalClaimedAmount">
                            </div>
                        </div>


                        <div class="py-2 text-center">
                            <button accesskey="s" type="submit"
                                class="btn btn-primary btn-sm  active text-center clr1"><b><u>S</u></b>ubmit</button>
                        </div>
                        <small class="text-danger text-center"><b></b></small>
                    </form>
                </div>
            </div>
        </div>
    
    <div class="col-sm-3"></div>
    </div>
    <!--footer-->
    <div class="bg-blue py-4 footer">
        <div class="row">
            <small class="fottext">Copyright &copy; 2021. All rights reserved.</small>
            <div class="social-contact ml-4 ml-sm-auto">
                <span class="fa fa-facebook mr-4 text-sm"></span>
                <span class="fa fa-google-plus mr-4 text-sm"></span>
                <span class="fa fa-linkedin mr-4 text-sm"></span>
                <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
            </div>
        </div>
    </div>
    <!--footer-->
</body>

</html>